notebooks_attic/
results/
build
data
.ipynb_checkpoints/


# trash files
*.py~
*.py.un~
*.pyc
*.un~
*.DS_Store

# more trash
*.ps
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.eps
#*.pdf
*.svg
#*.png
#*.bib
*.xml
.*.swp
*.o
*.so
*.tar.gz
*.npy
*.pkl
*.sdf

\#*\#
.\#*
*~

DEADJOE
