notebooks/.ipynb_checkpoints
notebooks/paper_figures/.ipynb_checkpoints
notebooks_attic/
results/
data

# trash files
*.py~
*.py.un~
*.pyc
*.un~
*.DS_Store

# more trash
*.ps
*.aux
*.bbl
*.blg
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.vrb
*.eps
#*.pdf
*.svg
#*.png
#*.bib
*.xml
.*.swp
*.o
*.tar.gz
*.npy
*.pkl
*.sdf

\#*\#
.\#*
*~

DEADJOE
